@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 40% 98%;
    /* Light yellow #fdfbf7 */
    --foreground: 20 14% 4%;

    --card: 0 0% 100%;
    --card-foreground: 20 14% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 4%;

    --primary: 352 74% 59%;
    /* Red #e63946 */
    --primary-foreground: 0 0% 100%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 352 74% 59%;
    /* Red table lines */
    --input: 20 5.9% 90%;
    --ring: 352 74% 59%;

    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}